.sidenav {
  @apply bg-[#263238] fixed top-0 w-20 h-screen z-10;
  transition: all .5s ease;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;

  .logo-container {
    @apply flex items-center w-full;
    padding: 0.938rem 0.938rem 0 0.938rem;

    .logo {
      @apply bg-white text-center w-12 min-w-12 rounded-md p-1.5 font-black cursor-pointer border-none;
      font-size: 24px;
    }

    .logo-text {
      @apply ml-6 font-bold text-white;
      font-size: 24px;
    }

    .btn-close {
      @apply ml-auto cursor-pointer w-8 h-8 rounded-full bg-transparent border-none;

      .fa-times {
        @apply text-white;
        font-size: 24px;
      }
    }
  }
}

.sidenav-collapsed {
  @apply w-64;
}

.sidenav-nav {
  @apply list-none p-4 m-0 flex flex-col items-center cursor-pointer;
  height: calc(100% - 3.65rem);

  .sidenav-nav-item {
    @apply w-full mb-2.5;

    .sidenav-nav-link {
      @apply flex items-center h-12 text-[#f3f3f3] no-underline;
      transition: all .3s ease;

      .sidenav-link-icon {
        @apply w-8 min-w-8 mx-2 text-center;
        font-size: 22px;
      }

      .sidenav-link-text {
        @apply ml-6;
      }
    }
  }

  .sidenav-nav-item:hover {
    .sidenav-nav-link {
      @apply bg-white text-black rounded-2xl;
    }
  }

}

.active {
  @apply bg-white rounded-md;

  .sidenav-link-icon,
  .sidenav-link-text {
    @apply text-black rounded-2xl;
  }
}
